
@{
    ViewBag.Title = "صفحه اصلی";
}

<h2 style="text-align:center; padding-top:60px; "><ins style="color:darkblue;">گروه صنعتی لک </ins></h2>
<div style="align-content:center;">
<img src="~/images/banner1.jpg"  alt="weeeed" />
</div>

@section home{
    <div class="container">

        <div>
            @Html.Action("LogedIn")
            گروه صنعتی لک در سال 1362 با هدف ایفای نقشی موثر در صنعت قطعه سازی خودرو تاسیس و آغاز به کار نمود. گروه صنعتی لک در طی سالها توانسته است با استفاده از دانش و توانایی های منابع انسانی متخصص و ورزیده در کنار تجهیزات مدرن تولیدی،بستری مناسب جهت امکان تولید قطعات با کیفیت تر را فراهم نماید.
            این گروه همپا با گسترش صنعت خودرو سازی کشور در دهه 70 ،رشد مناسب و متوازن خود را آغاز و طی سالیان اخیر رشد همه جانبه ای را در توسعه و استفاده از امکانات نرم افزاری و سخت افزاری ثجربه نموده است.
            همپا با چشم انداز توسعه صنعت و بویژه صنعت خودرو، گروه صنعتی لک نیز اقدام به توسعه محیطی فضا های تولیدی و پشتیبانی نموده است و در سال 1391 به شهرک صنعتی پرند منتقل و در زمینی به مساحت 20000 متر مربع مستقر گردید.

            این گروه با بررسی نیازهای صنعتی و بویژه خودرو کشور ، در محیط جدید تمامی امکانات مورد نیاز ساخت تجهیزات ، ابزارها و تولید قطعات بزرگتر را فراهم و امیدوار است بتواند همپای توسعه صنعتی کشور ، سهم خود را در جهت تحقق اهداف سازمان و تامین نیازهای کشور بخوبی ایفا نماید.
            گروه صنعتی لک با بیش از 3 دهه سابقه در زمینه تولید قطعات فلزی خودرو و دیگر قطعات و لوازم صنعتی آمادگی دارد تا با استفاده از واحدهای زیر مجموعه خود، قطعات و مجموعه های ارائه شده را مطالعه، بررسی و تولید نماید.

            گروه صنعتی لک در جهت تولید قطعات کیفی موفق به اخذ و استقرار گواهینامه های ISO 9001 و استاندارد ISI TS 16949 در قطعات تولیدی خود از شرکت DQS گردیده است.


        </div>
    </div>
}


